/AstroGrep/AstroGrep/.vs
/AstroGrep/AstroGrep/AdminProcess/bin/Debug
/AstroGrep/AstroGrep/AdminProcess/obj/Debug
/AstroGrep/AstroGrep/AstroGrep.Common/bin/Debug
/AstroGrep/AstroGrep/AstroGrep.Common/obj/Debug
/AstroGrep/AstroGrep/libAstroGrep/bin/Debug
/AstroGrep/AstroGrep/libAstroGrep/obj/Debug
/AstroGrep/AstroGrep/WinformsGUI/bin/Debug
/AstroGrep/AstroGrep/WinformsGUI/obj/Debug
