################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AstroGrep/AstroGrep/AdminProcess/bin/Debug
/AstroGrep/AstroGrep/AstroGrep.Common/bin/Debug
/AstroGrep/AstroGrep/libAstroGrep/obj/Debug
/AstroGrep/AstroGrep/libAstroGrep/bin/Debug
/AstroGrep/AstroGrep/AstroGrep.Common/obj/Debug
/AstroGrep/AstroGrep/AdminProcess/obj/Debug
/AstroGrep/AstroGrep/WinformsGUI/bin/Debug
/AstroGrep/AstroGrep/WinformsGUI/obj/Debug
/AstroGrep/AstroGrep/.vs/AstroGrep/v15
/AstroGrep/AstroGrep/MyAstroGrep/bin/Debug
/AstroGrep/AstroGrep/MyAstroGrep/obj/Debug
/AstroGrep/AstroGrep/MyLibAstroGrep/bin/Debug
/AstroGrep/AstroGrep/MyLibAstroGrep/obj/Debug
/AstroGrep/AstroGrep/MyAstroGrep.Common/obj/Debug
/AstroGrep/AstroGrep/MyAstroGrep.Common/bin/Debug
